@import 'sfggc-bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.min.css';

html {
  --sfggc-title-font-family: "DM Serif Display", "Times New Roman", var(--sfggc-font-sans-serif);
}

body {
  text-shadow: 1px 1px 1px var(--sfggc-body-text-shadow-color);

  &.portal-mode {
    background-color: #7f8791;

    .nav-and-top {
      .top-image-background,
      .top-background-shade {
        display: none;
      }
    }

    .btn-outline-primary {
      background-color: var(--bs-primary);
      color: #fff;
      border-color: var(--bs-primary);
    }

    .btn-outline-secondary {
      background-color: var(--bs-secondary);
      color: #fff;
      border-color: var(--bs-secondary);
    }

    .btn-outline-success {
      background-color: var(--bs-success);
      color: #fff;
      border-color: var(--bs-success);
    }

    .btn-outline-danger {
      background-color: var(--bs-danger);
      color: #fff;
      border-color: var(--bs-danger);
    }

    .btn-outline-info {
      background-color: var(--bs-info);
      color: #fff;
      border-color: var(--bs-info);
    }

    .btn-outline-dark {
      background-color: var(--bs-dark);
      color: #fff;
      border-color: var(--bs-dark);
    }

    .btn-outline-warning {
      background-color: var(--bs-warning);
      color: #212529;
      border-color: var(--bs-warning);
    }

    .btn-outline-light {
      background-color: var(--bs-light);
      color: #212529;
      border-color: var(--bs-light);
    }

    @media (max-width: 575.98px) {
      .portal-actions {
        flex-direction: column;
        align-items: stretch;
      }

      .portal-actions .btn {
        width: 100%;
      }

      .portal-edit-form {
        --bs-gutter-x: 0.75rem;
        --bs-gutter-y: 0.5rem;
      }
    }
  }

  .nav-and-top {
    position: relative;

    .top-image-background {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -100;
      background-repeat: no-repeat;
      background-position: 25% top;
      //background-size: cover;
      // Each section provides its own image(s)

      background-image: url('../images/bg/ggb-vertical-991w.jpg');

      @media (min-width: 992px) {
        background-size: cover;
        background-position-y: 15%;
        background-image: url('../images/bg/ggb-vertical-fullsize.jpg');
      }
    }

    .top-background-shade {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -99;
      background-color: black;
      opacity: var(--sfggc-background-shade-opacity);
    }

    .menu-icon {
      font-size: 150%;
    }
  }

  section {
    position: relative;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
    
    @media (min-width: 576px) {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    @media (min-width: 992px) {
      margin-left: 2rem;
      margin-right: 2rem;
    }

    .section-heading {
      margin-left: -0.5rem;
      margin-right: -0.5rem;
      padding-top: 0.75rem;
      padding-bottom: 1rem;
      padding-left: 1rem;

      color: var(--sfggc-section-heading-color);
      background-color: var(--sfggc-section-heading-bg-color);

      @media (min-width: 576px) {
        margin-left: -1rem;
        margin-right: -1rem;
      }
      @media(min-width: 768px) {
        text-align: center;
      }
      @media (min-width: 992px) {
        margin-left: -2rem;
        margin-right: -2rem;
      }
    }

    .section-image-background {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -50;
      margin-left: -0.5rem;
      margin-right: -0.5rem;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
      // Each section provides its own image(s)

      @media (min-width: 576px) {
        margin-left: -1rem;
        margin-right: -1rem;
      }
      @media (min-width: 992px) {
        margin-left: -2rem;
        margin-right: -2rem;
      }
    }
    .section-background-shade {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -49;
      margin-left: -0.5rem;
      margin-right: -0.5rem;
      background-color: black;
      // each section specifies its own opacities

      @media (min-width: 576px) {
        margin-left: -1rem;
        margin-right: -1rem;
      }
      @media (min-width: 992px) {
        margin-left: -2rem;
        margin-right: -2rem;
      }
    }
  }
}

html, body {
  overflow-x: hidden;
}
